* {
    margin: 0;
    padding: 0
}

#navbar {
    display: flex;
    justify-content: right;
    background-image: linear-gradient(90deg, red, orange);
    font-weight: bold;
    font-size: 1.25rem;
    font-style: italic;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 50rem) {
    #navbar {
        font-size: 2rem;
        padding-right: 0.5rem;
    }
}

.navbar-link {
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0.5rem 0.75rem;
}

.navbar-link:hover {
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(90deg, azure, lightblue);
    height: 100vh;
    font-size: 1.5rem;
    font-style: oblique;
    line-height: 2rem;
}

#welcome-section > h1 {
    padding: 2rem;
}

@media (min-width: 50rem) {
    #welcome-section {
        font-size: 1.75rem;
    }
}

#projects {
    background-image: linear-gradient(90deg, rgb(238, 186, 238), rgb(225, 11, 225));
    padding: 2rem;
}


#projects > h1 {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 50rem) {
    .container {
        flex-direction: row;
    }
}

.project {
    border: 1px solid black;
    width: 15rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.img-project {
    display: block;
    object-fit: cover;
    width: 15rem;
}

.project-tile {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    background-color: #303841;
    width: 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (min-width: 50rem) {
    #projects > h1 {
        font-size: 2rem;
    }

    .project-tile {
        font-size: 1.5rem;

    }
}


.project-tile:hover {
    background-color: rgba(198, 97, 202, 0.5);
    font-weight: bold;
}

#contact {
    background-image: linear-gradient(90deg, #4568dc, #b06ab3);
    text-align: center;
    padding: 2rem;
}

.contact-heading {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: bold;
    padding: 2rem 0;
}

@media (min-width: 50rem) {
    .contact-heading {
        font-size: 2rem;
    }
}

.contact-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
}

@media (min-width: 50rem) {
    .contact-link {
        font-size: 1.5rem;
    }
}

#profile-link {
    display: inline-block;
}
